.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.C{background-image:url(images/C.PNG);}
.Cn{background-image:url(images/Cn.PNG);}
.CU{background-image: url(images/CU.PNG);}
.I{background-image: url(images/I.PNG);}
.In{background-image: url(images/In.PNG);}
.N{background-image: url(images/N.PNG);}
.NC{background-image: url(images/NC.PNG);}
.NC2{background-image: url(images/NC2.PNG);}
.NI{background-image: url(images/NI.PNG);}
.U{background-image: url(images/U.PNG);}
.Un{background-image: url(images/Un.PNG);}
.Un2{background-image: url(images/Un2.PNG);}


.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:210px;height:180px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}